<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= render "navbar" %>
    <div class="container">
      <center><h2><%= current_user.username %></h2></center>
      <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <div class="row">
          <div class="col-12 col-lg-4">
            <%= link_to edit_user_registration_path(current_user.id), class:'btn btn-success' do %>
              <i class="bi bi-pencil-fill"></i>
              Редактирование <%= current_user.username %>
            <% end %>
          </div>
          <div class="col-12 col-lg-8">
            <h5>Ваши объявления</h5>
            <hr>
            <% @ads.each do |ad| %>
            <div class="row">
              <div class="col-6">
                <%= ad.title %>
              </div>
              <div class="col-6">
                <%= link_to edit_ad_path(ad), class:"btn btn-success btn-sm" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                  </svg>
                <% end %>
                <%= link_to "Удалить", ad_path(ad), data: { turbo_method: :delete, turbo_confirm: "Точно удалить?" }, class: "btn btn-danger btn-sm" %>
                <% if ad.public == true %>
                  Опубликованно
                <% else %>
                  На модерации
                <% end %>
                <%= button_to toggle_active_ad_path(ad),
                      method: :patch,
                      class: "btn btn-sm" do %>

                  <% if ad.active %>
                    ✅ Активно
                  <% else %>
                    ⛔ Не активно
                  <% end %>

                <% end %>
              </div>
            </div>
            <hr>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
